body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.imgContainer {
    width: 500px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
    animation: imageSlider 20s infinite;
}

@keyframes imageSlider {
    0% {
        background-image: url('/img/LucanWebDesigns.logo.normal.png');
    }
    25% {
        background-image: url('/img/LucanWebDesigns.logo.eyebrow-left.png');
    }
    50% {
        background-image: url('/img/LucanWebDesigns.logo.down.png');
    }
    75% {
        background-image: url('/img/LucanWebDesigns.logo.eyebrow-right.png');
    }
    100% {
        background-image: url('/img/LucanWebDesigns.logo.up.png');
    }
}